.kotlin
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/
/benchmark/build/
/core/build/
/feature/build/
/feature/mainscreen/build/
/core/designsystem/build/
/.idea/
/common/designsystem/build/intermediates/aar_metadata/demoDebug/aar-metadata.properties
/common/designsystem/build/intermediates/aapt_friendly_merged_manifests/demoDebug/aapt/AndroidManifest.xml
/common/designsystem/build/intermediates/merged_manifest/demoDebug/AndroidManifest.xml
/common/designsystem/build/intermediates/annotation_processor_list/demoDebug/annotationProcessors.json
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-hdpi/bg.png
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-ldpi/bg.png
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-mdpi/bg.png
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-xhdpi/bg.png
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-xxhdpi/bg.png
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-xxxhdpi/bg.png
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-hdpi-v4/bg.png
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-ldpi-v4/bg.png
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-mdpi-v4/bg.png
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-xhdpi-v4/bg.png
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-xxhdpi-v4/bg.png
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-xxxhdpi-v4/bg.png
/common/designsystem/build/generated/res/pngs/demo/debug/drawable-land-anydpi-v24/bg.xml
/common/designsystem/build/intermediates/packaged_res/demoDebug/drawable-land-anydpi-v24/bg.xml
/core/common/build2.gradle.kts
/common/designsystem/build/kotlin/compileDemoDebugKotlin/local-state/build-history.bin
/common/designsystem/build/.transforms/7f86b139b92298dd2b37a7cf6800382f/transformed/classes/classes_dex/classes.dex
/common/designsystem/build/.transforms/f20b13b1387348d53d479f12328a11c6/transformed/classes.jar
/common/designsystem/build/intermediates/aar_main_jar/demoDebug/classes.jar
/common/designsystem/build/intermediates/compile_library_classes_jar/demoDebug/classes.jar
/common/designsystem/build/intermediates/runtime_library_classes_jar/demoDebug/classes.jar
/common/designsystem/build/tmp/kotlin-classes/demoDebug/com/mshdabiola/designsystem/theme/ColorKt.class
/common/designsystem/build/intermediates/incremental/demoDebug/packageDemoDebugResources/compile-file-map.properties
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
/common/designsystem/build/outputs/aar/designsystem-demo-debug.aar
/common/designsystem/build/intermediates/java_res/demoDebug/out/META-INF/designsystem_demoDebug.kotlin_module
/common/designsystem/build/tmp/kotlin-classes/demoDebug/META-INF/designsystem_demoDebug.kotlin_module
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-anydpi-v24_bg.xml.flat
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-hdpi-v4_bg.png.flat
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-ldpi-v4_bg.png.flat
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-mdpi-v4_bg.png.flat
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-xhdpi-v4_bg.png.flat
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-xxhdpi-v4_bg.png.flat
/common/designsystem/build/intermediates/compiled_local_resources/demoDebug/out/drawable-land-xxxhdpi-v4_bg.png.flat
/common/designsystem/build/intermediates/merged_java_res/demoDebug/feature-designsystem.jar
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/last-build.bin
/common/designsystem/build/tmp/kotlin-classes/demoDebug/com/mshdabiola/designsystem/theme/LiveLiterals$ThemeKt.class
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/common/designsystem/build/intermediates/manifest_merge_blame_file/demoDebug/manifest-merger-blame-demo-debug-report.txt
/common/designsystem/build/outputs/logs/manifest-merger-demo-debug-report.txt
/common/designsystem/build/intermediates/incremental/demoDebug-mergeJavaRes/merge-state
/common/designsystem/build/intermediates/incremental/demoDebug/packageDemoDebugResources/merger.xml
/common/designsystem/build/intermediates/incremental/mergeDemoDebugJniLibFolders/merger.xml
/common/designsystem/build/intermediates/incremental/mergeDemoDebugShaders/merger.xml
/common/designsystem/build/intermediates/incremental/packageDemoDebugAssets/merger.xml
/common/designsystem/build/intermediates/navigation_json/demoDebug/navigation.json
/common/designsystem/build/intermediates/aapt_friendly_merged_manifests/demoDebug/aapt/output-metadata.json
/common/designsystem/build/intermediates/symbol_list_with_package_name/demoDebug/package-aware-r.txt
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/common/designsystem/build/intermediates/compile_r_class_jar/demoDebug/R.jar
/common/designsystem/build/intermediates/compile_symbol_list/demoDebug/R.txt
/common/designsystem/build/intermediates/local_only_symbol_list/demoDebug/R-def.txt
/common/designsystem/build/.transforms/2ae4884da4ef4b3270197cc44dc001bf/results.bin
/common/designsystem/build/.transforms/7f86b139b92298dd2b37a7cf6800382f/results.bin
/common/designsystem/build/.transforms/40e756fa30138487222b8315659368c3/results.bin
/common/designsystem/build/.transforms/b1d4b7fe7e80c2c189df537b3dc18192/results.bin
/common/designsystem/build/.transforms/b5a5e0a3837c1b88455a32cc30f1d996/results.bin
/common/designsystem/build/.transforms/f20b13b1387348d53d479f12328a11c6/results.bin
/common/designsystem/build/.transforms/fb44296deaa83ec060b7f1dd98557d2a/results.bin
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/common/designsystem/build/kotlin/compileDemoDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/common/designsystem/build/tmp/kotlin-classes/demoDebug/com/mshdabiola/designsystem/theme/ThemeKt$SkeletonAppTheme$1.class
/common/designsystem/build/tmp/kotlin-classes/demoDebug/com/mshdabiola/designsystem/theme/ThemeKt.class
/common/designsystem/build/intermediates/annotations_typedef_file/demoDebug/typedefs.txt
/common/designsystem/build/tmp/kotlin-classes/demoDebug/com/mshdabiola/designsystem/theme/TypeKt.class
/common/designsystem/build/intermediates/variant_model/demoDebug/variant_model.json
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/ThemeKt$AppTheme$1.class
/common/designsystem/build/kotlin/compileKotlinDesktop/local-state/build-history.bin
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/ColorKt.class
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/util/ColorSchemeUtilsKt.class
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/complementary-files.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/counters.tab
/common/designsystem/build/classes/kotlin/desktop/main/META-INF/designsystem.kotlin_module
/common/designsystem/build/libs/designsystem-desktop.jar
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/Dimens.class
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/common/designsystem/build/classes/kotlin/desktop/main/work/racka/reluct/compose/common/theme/util/FontResourcesKt.class
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/last-build.bin
/common/designsystem/build/processedResources/desktop/main/font/lexenddeca_bold.ttf
/common/designsystem/build/processedResources/desktop/main/font/lexenddeca_light.ttf
/common/designsystem/build/processedResources/desktop/main/font/lexenddeca_medium.ttf
/common/designsystem/build/processedResources/desktop/main/font/lexenddeca_regular.ttf
/common/designsystem/build/processedResources/desktop/main/font/lexenddeca_thin.ttf
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab_i.len
/common/designsystem/build/tmp/desktopJar/MANIFEST.MF
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/ShapeKt.class
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/common/designsystem/build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/Theme.class
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/ThemeKt.class
/common/designsystem/build/classes/kotlin/desktop/main/com/mshabiola/theme/TypeKt.class
/composeApp/build/
/shared/build/
/modules/build/
